<%- include("partials/header") -%>

<div class="header">
  <div class="row">
    <div class="col-8">
      <h1 class="pageTitle">Your Feedback</h1>
    </div>
    <div class="col-4">
      <div class="nav-button">
        <a href="/logout" role="button">Log out</a>
      </div>
    </div>
  </div>
</div>

<form action="/delete" class="footDown" method="post">
    <h2 class="viewTitle">Message Feedback</h2>
    <% if(contents.length == 0){ %>
    <h5 class="viewTitle">- empty -</h5>
  <% } else { %>
  <% contents.forEach(function(feedback){ %>
  <div class="optionStyle form-group center">
    <div class="form-control-plaintext brightTxt d-inline-flex row justify-content-between">
      <div class="col-1 order-12 deleteBtn">
        <button type="submit" class="btn" name="delete" value="<%= feedback._id %>">✖</button>
      </div>
      <div class="col-11 order-1">
      <h4>Name: <%= feedback.name %></h4>
      </div>
    </div>
    <div class="form-control-plaintext brightTxt row">
      <div class="col">
      <h4>Company: <%= feedback.company%> </h4>
      </div>
    </div>
    <% if(feedback.feedback.length > 400){ %>
    <div class="container">
      <p class="formatted"> <%= feedback.feedback.substr(0, 400)+ "..." %><a href="/view/<%= feedback._id %>" class="darkTxt"> Read More</a></p>
      <% } else { %>
      <p class="formatted"><%= feedback.feedback %></p>
      <% } %>
    </div>
  </div>
  <% }); }%>

  <hr class="hrMargin">

    <h2 class="viewTitle">Survey Feedback</h2>
    <% if(ratings.length == 0){ %>
    <h5 class="viewTitle">- empty -</h5>
    <% } else { %>
    <% ratings.forEach(function(rating){ %>
    <div class="optionStyle form-group center">
      <div class="form-control-plaintext brightTxt d-inline-flex row justify-content-between">
          <div class="col-1 order-12 deleteBtn">
            <button type="submit" class="btn" name="surveyDelete" value="<%= rating._id %>">✖</button>
          </div>
          <div class="col-11 order-1">
            <h4>Name: <%= rating.name %></h4>
          </div>
      </div>
      <div class="form-control-plaintext brightTxt row">
        <div class="col">
          <h4>Company: <%= rating.company%> </h4>
        </div>

      </div>
      <% rating.surveys.forEach(function(survey){ %>
        <div class="row">
        <div class="brightTxt col-6">
        <%= survey.question %>
        </div>
        <% if(survey.rating.length == 0){ %>
          <div class="brightTxt col">
        - No Rating -
        </div>
        <% } else { %>
          <div class="brightTxt col-6">
        Rating: <%= survey.rating %>
        </div>
        <% } %>
        <div class="brightTxt col-12 bottomSpace">
        <%= survey.comment %>
      </div>
      </div>
      <% }); %>
      <% if(rating.extra.length != 0){ %>
        <div class="container">
      <p>Extra Feedback: <%= rating.extra%> </p>
    </div>
      <% } %>

    </div>
    <%}); } %>
</form>


<%- include("partials/footer") -%>
